@import "tailwindcss";

/* Theme and Base */
@import "./theme.css";
@import "./base.css";

/* Animations */
@import "./animations.css";

/* Utilities */
@import "./utilities/glasmorphism.css";
@import "./utilities/terrain.css";
@import "./utilities/branding.css";
@import "./utilities/layout.css";
@import "./utilities/cards.css";
@import "./utilities/buttons.css";
@import "./utilities/dialogs.css";
@import "./utilities/guides.css";
@import "./utilities/board.css";
@import "./utilities/sections.css";
@import "./utilities/typography.css";
@import "./utilities/chips.css";
